{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}
<div class="container" id="intro">
        <section class="centered intro">
            <h2 class="text-center"><strong>Contests</strong> from the <span>Designers of the AMC</span> are Coming Soon.</h2>
            <p>Coming with a large number of AMC-like Questions, these questions were meticulously crafted the Shai. The contest is built on top of the hugely popular AMC Exam, and guarantees gory and bashy Math.</p>
        </section>
    </div>

<div class="row d-flex justify-content-between mt-5">
  <div class="row justify-content-around">
      <div class="col-4">
        <h3> About Contests</h3>
        <p>Contests are 75 minute long tests with 25 questions. Questions will cover all AMC topics. Participate to win against your classmates! </p>

      </div>
      <div class="col-4">
        <header>

          <h2>Current Contests</h2>
        </header>

        <hr>
    <!-- Below lies the vertical navigation bar and footer-->
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/confirmation/1">Contest 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"> Contest 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Contest </a>
          </li>
        </ul>
      </div>
    </div>



  </div>

</div>
{% endblock %}
