{% extends "layout.html" %}

{% block title %}
<title>Sign Up!</title>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-2"></div>


<div class="col-8">
  <form class="" action="{{ url_for('signup') }}" method="post">
    <div class="row mt-5 mb-5">
    <div class="col-lg-12">
        <h2>Sign Up</h2>
      </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <h6 for="fname1"><span style="color:red;">*</span> Username</h6>
              <input type="text" class="form-control form-control-lg" placeholder="Username" name="username" style="font-size:14px;" required>
        </div>
        <div class="col-md-6 form-group">
            <h6 for="lname1"><span style="color:red;">*</span> Password </h6>
            <input type="text" class="form-control form-control-lg" placeholder="Password" name="password" style="font-size:14px;" required>
        </div>

        <div class="col-md-12 form-group">
            <h6 for="lname1"><span style="color:red;">*</span> Email </h6>
            <input type="email" class="form-control form-control-lg" placeholder="email" name="email" style="font-size:14px;" required>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 form-group" style="margin-top:-35px;">
          <button value="Log In" class="btn btn-primary btn-lg btn-block">Sign Up</button>
        </div>
      </div>
  </form>

</div>
      <div class="col-2"></div>

</div>
{% endblock %}
